/*css.main*/
body{
	font-size:       large;
	font-family:     sans-serif;
	margin:          0px;
	top:             0px;
}
.clearfix:before,
.clearfix:after{
    content:"";
    display:block;
}
.clearfix:after{
	clear:both;
}



img#logo{
	width:           20px;
    height:          20px;
    margin:          0px 30px;
}
header{
	top:             0px;
	width:           100%;
    height:          70px;
    margin:          0px;
   /* padding-top:     10px;*/
    background-color:#00bcd4
}
header h1{
	font-size:       25px;
	font-family:     Helvetica Neue,Segoe UI,Helvetica,Arial,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
    line-height:     70px;
    color:           #2a499d;
    margin:          0px;
}
img#logo{
	display:         block;
	margin-top:      10px;
	width:           50px;
	height:          50px;
	float:           left;
}
div#main{
	/*padding-top:     10px;*/
	background:      url(../images/jiaochang.jpg);
	background-size: cover;
	height:          900px;
}
h1.jcjg{
	display:         block;
	font-size:       200px;
	font-weight:     normal;
	font-family:     Arial Geneva Verdana ;
	color:           #FFF;
	padding:         80px 50px 200px ;
	float:           right;
	margin-top:      0px;
	margin-bottom:   90px;
}
nav{
	display:         block;
	text-align:      center;
	margin:          0px;
	height:          108px;
	font-family:     Helvetica Neue,Segoe UI,Helvetica,Arial,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
    font-size:       20px;
    background:      rgba(0,0,0,.3);
}
nav ul{
	margin:          0px;
	list-style-type: none;
}
nav ul li{
	margin:          0px 5px;
	padding:         10px 25px;
	display:         inline;
	line-height:     108px;
    border:          1px solid #FFF;
    border-radius:   15px       ;
}
nav ul li a{
	color:          #FFF;
	text-decoration: none;
}
nav ul li :hover{
	color:          #1E90FF;
	border-color:   #1E90FF;

}
footer{
    color:           #FFF;
    text-align:      center;
    padding:         15px;
    margin:          0px 10px 0px 10px;
    font-size:       90%;
}
.hover{color: #1E90FF;}
$("ul li").hover
      function () { 
        $(this).addClass("hover");
	        }