  @page { margin: 0.5cm; }

 navbar {
 	display: block !important;
 }

 .print-logo {
 	width: 350px;
 	height: auto;
 }

* { 
    color: black !important; 
    text-shadow: none !important; 
    filter:none !important;
    -ms-filter: none !important;
    float: none; !important;
  	-webkit-print-color-adjust:exact !important;
  	print-color-adjust: exact !important; 
}

a[href]:after { content: none !important; }

.bg-image { -webkit-print-color-adjust: exact !important; }

.article__share, 
.sidebar-content, 
.tags, 
.footer,
.featured-video,
.slideshow-title,
.post-slideshow, 
.audio, iframe, .video {
	display: none !important;
}

.featured-image {
	display: none !important;
}

.print-image {
	display: block !important;
}

.print-image img {
	width: 100%;
	height: auto;
}

img {
	display: block !important;
	margin: 0px auto 20px auto !important;
}

.full-post .text .infographic img {
	width: 350px;
	height: auto;
	display: block;
	margin: auto;
}

.wp-caption, .wp-caption img, .alignnone {
	display: block;
	margin: auto;
}

blockquote {
	border: none !important;
	padding: 0px !important;
	width: 400px;
}